.first {
  background: url(../assets/bg.png);
  color: #ffffff;
  text-align: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.h1 {
  font-size: 50px;
}

.p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 50px;
}
